.ourBar {
  color: blue;
  background-color: yellow;
  height: 60px;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.searchBar {
  width: 70%;
  margin-bottom: 50px;
}

.companiesProjects {
  color: blue;
  background-color: yellow;
  height: 400px;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.companyAndProjectTitles {
  background-color: gray;
  height: 40px;
  width: 100%;
  display: inline-block;
  border: 1px solid black;
}

.companyAndProjectRepeat {
  background-color: white;
  border: 1px solid black;
}

.companyAndProjectRepeat:hover {
background-color: #d1cfcf;
cursor: pointer;
}

.companyNameAndLocation {
/*  margin-left: 20px;
*/  border: 1px solid red;
}
.logo {
  border: 1px solid red;
  width: 70px;
  display: inline-block;
  }

/*.spacer1 {
  width: 100%;
  display: inline-block;
}*/