@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0px;
}

.navBar {
  height: 60px;
  width: 100%;
/*  border: 1px solid black;
*/}

.Elevlogo {
  width: 40px;
  margin: 10px;
}

.searchBar {
  width: 90%;
  margin: 12px 0px 12px 0px;
}
.navBarMiddleColumn {
  height: 60px;
}

.profilePic {
  width: 50px;
  margin: 7px 7px 7px 0px;
  float: right;
}

hr {
  border-top: 1px solid #e2e2e2;
  padding: 0px;
  margin: 0px;
  width: 100%;

}

.tagBar {
  height: 40px;
  background-color: #f1f1f1;
}

.tagBarTag {
  margin-left: 25px;
  padding: 11px 0px 40px 0px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .94em;
  display: inline-block;
  letter-spacing: .05em;
  color: #77787b;
}

.tagBarTag:hover {
  color: #58595b;
  cursor: pointer;
}

.background {
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.companyAndProjectContainer {
  border: 1px solid #e2e2e2;
}

/*Contains all of the ng-repeats that display eac company & project*/
.companyAndProjectRepeatContainer {
  height: 400px;
  background-color: #f1f1f1;
  border: 1px solid #e2e2e2;
  margin: 30px 23px 10px 23px;
  border-radius: 10px;
}

.companyAndProjectRepeat {
  background-color: white;
  border: 1px solid #e2e2e2;
}

.companyAndProjectRepeat:hover {
  border: 1px solid #9c9c9c;
  cursor: pointer;
}

.logo {
  width: 60px;
  margin: 10px;
  float: left;
  display: inline-block;
}

.logo img {
  border-radius: 5px;
  display: inline-block;
}

.info {
  color: #444444;
  display: inline-block;
  /*border: 1px solid red;*/
  margin: 11px 0 0 10px;
}

.projCompany {
   font-family: 'Montserrat', sans-serif;
   letter-spacing: .04em;
   font-size: 1.2em;
   color: #8cb300;
   text-transform: uppercase;
}

.projTitle {
  font-family: helvetica;
  font-size: 1.05em;
  letter-spacing: .04em;
}

.projDescription {
  font-family: helvetica;
  color: #868686;
  letter-spacing: .05em;
}


/*Register Form*/
.form-style {
margin: 0 auto;
width:250px;
}

.submit-button{
background-color: #AFCB2D ;
color: white;
}

button{
color:;
height:50px;
width:100px;
margin: -20px -50px;
position:relative;
top:50%;
left:50%;
}
/*Register Form (above)*/


