



<div class="splashContainer" style="height: 100%">

<!--  Nav Bar -->
  <div class="row navBar">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
     <a href="#/welcome"> 
     <img src="images/splashLogo.png" class="Elevlogo">
     <!-- <img src="images/elevlogoMobile.png" class="elevlogoMobile"> -->
     </a>
    </div>

     <div class="navBarMiddleColumn col-xs-6 col-sm-6 col-md-6 col-lg-6">
     
    </div>

    <div class="navBarRightColumn col-xs-4 col-sm-4 col-md-4 col-lg-4">
 
  <a href="#/about"><div class="aboutButton">About</div></a>
  <a href="#/home"><div class="aboutButton">Projects</div></a>
    </div>
  </div>
   <!--  End of Nav Bar -->

<div class="row">
  <div class="splashHeader">Team Project Hunt
  </div>

  <div class="splashSubheader">Project Hunt is a platform that connects employers and potential employees through projects.</div>
<br>
  <div class="splashSubheader">Hello there! And welcome to our app. 
  <br>
  We made Project Hunt as Junior Developers in Elevation Academy's Code Bootcamp. The inspiration came to us after seeing that Elevation Academy was partnering up with employers such as Bizzabo, IBM and Jolt, and we thought it would be really cool if we could translate this scenario into a fully functional web app that can make a lot of Junior Developers and Employers really happy. We hope you enjoy it, and remember we are always looking for feedback! </div>


  <div class="iconRow">

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Martha Reactovich</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">John Angularberg</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Alex Frontendovski</p>
    </div>
  </div>
</div>









