<!--  Nav Bar -->
  <div class="row navBar">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
     <a href="#/home">
     <img src="images/logo.png" class="Elevlogo">
     <!-- <img src="images/elevlogoMobile.png" class="elevlogoMobile"> -->
     </a>
    </div>


     <div class="navBarMiddleColumn col-xs-6 col-sm-6 col-md-6 col-lg-6">

    </div>

    <div class="navBarRightColumn col-xs-4 col-sm-4 col-md-4 col-lg-4">

    <a href="#/welcome"><div class="anyButton navSignupButton">Log out</div></a>
    </div>
  </div>
   <!--  End of Nav Bar -->


<div class="splashContainer" style="height: 1000px; ">

<div class="row">
  <div class="splashHeader">Partner Up
  </div>

  <div class="splashSubheader">Pick two partners for this project and start working together within minutes</div>


  <div class="iconRow">

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Martha Reactovich</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">John Angularberg</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Alex Frontendovski</p>
    </div>
  </div>
</div>


<div class="buttonContainer">
  
  <a href="#/user"> <div class="continueButton">Continue >></div></a>


</div>







