 <meta name="viewport" content="width=device-width">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../css/style2.css">
  <link rel="stylesheet" href="../devux/style.css">
  <link rel="stylesheet" href="../css/stars.css">
  <link rel="stylesheet" href="../css/tags.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- NG-Tags CDN -->
 <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.css"> -->
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
</head>


<!--  Nav Bar -->
  <div class="row navBar">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
     <a href="../index.html"> 
     <img src="../images/logo2.PNG" class="Elevlogo">
     <!-- <img src="images/elevlogoMobile.png" class="elevlogoMobile"> -->
     </a>
    </div>

    <!-- Search Bar -->
   <!--   <div class="navBarMiddleColumn col-xs-6 col-sm-6 col-md-6 col-lg-6">
     <input type="text" ng-model="searchBar">
      <tags-input type="text" ng-model="langTags" class="searchBar"></tags-input>
    </div> {{searchBar}} -->

   

    <div class="navBarRightColumn col-xs-4 col-sm-4 col-md-4 col-lg-4">
    
    </div>
  </div>
   <!--  End of Nav Bar -->






<div class="splashContainer" style="height: 100%">

<div class="row">
  <div class="splashHeader">Partner Up
  </div>

  <div class="splashSubheader">Pick two partners for this project and start working together within minutes</div>

  <!-- Team Section --><!-- 
     <section id="team" class="bg-light-gray">
         <div class="container"> -->
             <br>
             <br>
             <div class="row">
                 <div class="col-sm-4">
                     <div class="team-member">
                         <img src="images/profile1.jpg" class="img-responsive img-circle" alt="">
                         <h4>Kay Garland</h4>
                         <p class="text-muted">Lead Designer</p>
                         <ul class="list-inline social-buttons">
                             <li><a href="#"><i class="fa fa-twitter"></i></a>
                             </li>
                             <li><a href="#"><i class="fa fa-facebook"></i></a>
                             </li>
                             <li><a href="#"><i class="fa fa-linkedin"></i></a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="team-member">
                         <img src="images/profile2.jpg" class="img-responsive img-circle" alt="">
                         <h4>Larry Parker</h4>
                         <p class="text-muted">Lead Marketer</p>
                         <ul class="list-inline social-buttons">
                             <li><a href="#"><i class="fa fa-twitter"></i></a>
                             </li>
                             <li><a href="#"><i class="fa fa-facebook"></i></a>
                             </li>
                             <li><a href="#"><i class="fa fa-linkedin"></i></a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <div class="col-sm-4">
                     <div class="team-member">
                         <img src="images/profile3.jpg" class="img-responsive img-circle" alt="">
                         <h4>Diana Pertersen</h4>
                         <p class="text-muted">Lead Developer</p>
                         <ul class="list-inline social-buttons">
                             <li><a href="#"><i class="fa fa-twitter"></i></a>
                             </li>
                             <li><a href="#"><i class="fa fa-facebook"></i></a>
                             </li>
                             <li><a href="#"><i class="fa fa-linkedin"></i></a>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                     <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                 </div>
             </div>
         </div>
     </section>



  <div class="iconRow">

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">John Angularberg</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-user-circle-o" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Alex Frontendovski</p>
    </div>
  </div>
</div>


<div class="buttonContainer">
  
  <a href="#/user"> <div class="continueButton">Continue >></div></a>


</div>







