







          <!-- render projects here -->

          <form ng-submit="addProject()">
            <div class="form-style">
            <br>
            <br>
           <h4 align="center"></h4>
            <br>
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Username or Email" ng-model="image"></input>
           </div>


           <div class="form-group">
             <input type="text" class="form-control" placeholder="Password"></input>
           </div>

              <br>
              <label>code <input type="text" id="code" ng-model="codeInput"></input></label>
              <div text-align"center">
                <button class="btn btn-primary" ng-click="githubLogin()">Login with GitHub</button>
                <!-- https://github.com/login/oauth/authorize?client_id=abc&redirect_url=blablabla&scope=user -->

                </div>

                <br>

                <br>

                <p><a href="register.html">Not Registered Yet? Sign Up Today.</a></p>
          </form>
