
<div>

  <div class="row">
    <div>
      <div class="header">Projects</div>

      <div class="companyAndProjectRepeatContainer">

      <div class="row companyAndProjectRepeat" ng-repeat="company in companies track by $index">
         <!-- Logo -->
          
          <div class="logo">
           <img ng-src="http://placekitten.com/g/60/60"/>
          </div>
          
       
       <!-- Company Name & Location -->
       <!-- Same column as logo -->
      
        <div class="info">
          <div class="projCompany">{{company.projCompany}}</div>
          <div class="projTitle">{{company.projTitle}}</div>
          <div class="projDescription">{{company.projDescription.desc}}</div>
           <a ng-click="readmore()">Read More</a>
        </div>
        

      </div>
      <!--  End of Row -->

  </div>

        <div class="projectList">
  

          <div class="content-container">
            <p class="project-name" >
          </div>
         <!--  <i ng-click="removeProject($index)" class="fa fa-times remove"></i> -->
        </div>
     
<hr>
      <form ng-submit="addProject(e)" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="header">Add a new project</div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Project Name" ng-model="name"/>
        </div>

        <div class="form-group">
          <input type="date" class="form-control" placeholder="Due date" ng-model="date"/>
        </div>
        
        <!-- Lang Tags -->
        <div class="form-group" ng-controller="tagController">
          <tags-input type="text" placeholder="Press tab to add tag" ng-model="langTags"></tags-input>
        </div>

        <div class="form-group">
          <textarea type="text" class="form-control" rows="10" placeholder="project description" ng-model="description"></textarea>
        </div>

        <div class="form-group">
          <input type="file" class="form-control" placeholder="Upload a file" ng-model="image_url" id="files"/>
          <img id="image" style="max-width: 200px;" />
        </div>

        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>


</div>

