<div>
  <h1>Company Podcast Nadav Leshem, CTO @ Jolt</h1> 
  <p>
    As a means to keep everybody in your company up to date, create a system where employeescan leave voice messages that will get aggregated on a daily basis and aggregate them createa company podcast.Allow employees to record a voice message at the end of the day in which they should sum upwhere they are on projects and deadlines.All recordings can then be aggregated and made available the following morning so thateveryone can listen on their way to work.To execute it, perhaps use the Twilio API, to create a phone number which can be called toleave a voice message. Also consider building a module for in-app recording.
    <br>
    <br>
    To make the experience more “podcast like” add a beginning, ending and transitions to therecordings. The intros and final statements can be limited to those from specific users such asHR or the CEO.Additional Feature Suggestions
    <br>
    <br>
    ●Allow employees to set a time (in their own timezone), to receive a link to the latestpodcast (send this to a slack channel or email or even text the user a link).
    <br>
    <br>
    ●Use the app to give users some guidance on what to say (eg What problems did youhave? Are you on target?).
    <br>
    <br>
    ●Allow an admin to order recordings before aggregation and even to remove or cut/editrecordings  if needed.
    <br>
    <br>
    ●Use some form of voice to text in order to create a written history of the podcast.
    <br>
    <br>
    ●Make it searchable.
    <br>
    <br>
    ●As companies can be spread all across the world, devise a way that the podcast is keptup to date and relevant regardless of timezone.
  </p>
</div>