
  <div class="companyTitle">
  <div class="header">Register As Employer<div>
    
  </div>    

  <div ng-submit="addProject()">
    <div class="form-group">

   <div class="form-group">
       <input type="text" class="form-control" placeholder="Your Company"></input>
     </div>

     <div class="form-group">
       <input type="text" class="form-control" placeholder="Your Name"></input>
     </div>


     <div class="form-group">
       <input type="text" class="form-control" placeholder="Logo URL"></input>
     </div>

     <div class="form-group">
      <textarea type="text" class="form-control" placeholder="Company Description" ></textarea>
    </div>

   
 </div>


     <a href="#/dashboard"><div class="registerSaveButton">Save</div></a>
  

</div>
</div>
</div>





