
  <!--  Nav Bar -->
  <div class="row navBar">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
     <a href="#/welcome"> 
     <img src="images/logo.png" class="Elevlogo">
     <!-- <img src="images/elevlogoMobile.png" class="elevlogoMobile"> -->
     </a>
    </div>


     <div class="navBarMiddleColumn col-xs-6 col-sm-6 col-md-6 col-lg-6">
      
    </div>

    <div class="navBarRightColumn col-xs-4 col-sm-4 col-md-4 col-lg-4">

    <a href="#/login"><div class="anyButton navSignupButton">Log Out</div></a>
    </div>
  </div>
   <!--  End of Nav Bar -->

    <div class="companyTitle">
  <div class="header">Register As Employer<div>

  </div>

  <div ng-submit="addProject()">
    <div class="form-group">

   <div class="form-group">
     <input type="text" class="form-control" placeholder="Your Name" ng-model="compName" />
     </div>

     <div class="form-group">
       <input type="text" class="form-control" placeholder="Your Company Website" />
     </div>

     <div class="form-group">
      <input type="email" class="form-control" placeholder="Your Email" />
    </div>


 </div>


     <a href="#/dashboard/{{compName}}"><div class="registerSaveButton">Save</div></a>


</div>
</div>
</div>

