<!--  Nav Bar -->
  <div class="row navBar">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
     <a href="#/welcome">
     <img src="images/logo.png" class="Elevlogo">
     <!-- <img src="images/elevlogoMobile.png" class="elevlogoMobile"> -->
     </a>
    </div>


     <div class="navBarMiddleColumn col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <input type="text" placeholder="Discover some great companies..." class="form-control searchBar" ng-model="searchBar">
    </div>

    <div class="navBarRightColumn col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <a href="#/user"><img src="images/profilePic.png" class="profilePic"></a> 
    <a href="#/welcome"><div class="logoutButton">Log out</div></a>
    </div>
  </div>
   <!--  End of Nav Bar -->

<!-- Header -->
<div class="header">Your Current Projects</div>


<!-- Companies and Projects Header-->

<div class="background" style="padding-bottom: 400px; " >


  <!-- Ng-Repeat of Companies & Projects Rows-->
  <div class="companyAndProjectRepeatContainer">

    <div class="row companyAndProjectRepeat" ng-repeat="x in proj track by $index">

      <!-- Logo and Company Name + Project Name Row -->
      <div class="projectRow">
      <!-- Logo -->
          <div class="leftProjColumn">
               <img class="logo" ng-src="http://placekitten.com/g/60/60"/>
           </div>

          <div class="rightProjColumn">
            <div class="projTitle">{{x.projTitle}}</div>
             <div class="projCompany">{{x.projCompany}}</div>
          </div>
       </div>

      <!-- Project Info Row -->
      <div class="projectRow">
     <!-- Company Name & Location -->
     <div class="info">

      <div class="projDescription" >{{x.projDescription}}</div>

    </div>
    </div>


  <div class="tagHeader">Project Technologies:</div>
    <div class="projectRow tagRow">
    <div class="tagRepeat tagContainer" ng-repeat="tag in x.langTags track by $index">
        <div class="tag">{{tag}}</div>
      </div>
      </div>


    <div class="projectRow">
      <div ng-click="passProj(x)" class="projectRow">
      <a href="#/submitproject"><div class="startButton btnShowForm">Submit This Project</div></a>

    </div>

  </div>
</div>
<!--  End of Row -->

</div>