<!-- Header -->
<div class="header">Your Current Projects</div>


<!-- Companies and Projects Header-->

<div class="background" >


  <!-- Ng-Repeat of Companies & Projects Rows-->
  <div class="companyAndProjectRepeatContainer">

    <div class="row companyAndProjectRepeat" ng-repeat="x in proj track by $index">

      <!-- Logo and Company Name + Project Name Row -->
      <div class="projectRow">
      <!-- Logo -->
          <div class="leftProjColumn">
               <img class="logo" ng-src="http://placekitten.com/g/60/60"/>
           </div>
          
          <div class="rightProjColumn">
             <div class="projCompany">{{x.projCompany}}</div>
            <div class="projTitle">{{x.projTitle}}</div>
          </div>
       </div>
      
      <!-- Project Info Row -->
      <div class="projectRow">
     <!-- Company Name & Location -->
     <div class="info">
      
      <div class="projDescription" >{{x.projDescription}}</div>
      
    </div>
    </div>

    <div class="projectRow tagRow"> 
    <div class="tagRepeat tagContainer" ng-repeat="tag in x.langTags" track by $index">
        <div class="tag">{{tag}}</div> 
      </div>
      </div>

    <div class="projectRow"> 
      <div class="startButton">Submit This Project</div>
    </div>
    

  </div>
</div>
<!--  End of Row -->

</div>
