



<div class="splashContainer">

<!--  Nav Bar -->
  <div class="row navBar">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
     <a href="#/welcome"> 
     <img src="images/splashLogo.png" class="Elevlogo">
     <!-- <img src="images/elevlogoMobile.png" class="elevlogoMobile"> -->
     </a>
    </div>

     <div class="navBarMiddleColumn col-xs-6 col-sm-6 col-md-6 col-lg-6">
     
    </div>

       <div class="navBarRightColumn col-xs-12 col-sm-4 col-md-4 col-lg-4">
   <a href="#/home"><div class="projectsButton">Projects</div></a>
  <a href="#/about"><div class="aboutButton">About</div></a>

    </div>
  </div>
   <!--  End of Nav Bar -->

<div class="row">
  <div class="splashHeader">Practice Projects
    <br>
    <p class="splashHeader2">by Real Employers</p>
  </div>

  <div class="splashSubheader">See what kind of projects employers like to see, provided by employers themselves</div>

  <div class="buttonContainer">
  <a href="#/register"> <div class="splashButton">Employer Sign In</div></a>
  <a href="#/home" ng-click="githubLogin()"> <div class="splashButton">Developer Sign In</div></a>
  </div>

  <div class="iconRow">

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-users" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Partner with fellow developers on Project Hunt</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-desktop" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Work on example projects created by hiring employers</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-github" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Share your repos with hiring employers and get hired</p>
    </div>
  </div>
</div>

     <div class="poweredByRow">
     <a href="http://www.elevationacademy.co/" target="_blank" class="poweredByLogo"> <img src="images/elevLogo.png"></a> <div class="poweredByHeader">Powered By Elevation Academy</div>
   </div>


</div>



