



<div class="splashContainer">
<!-- <div class="stars" style="z-index: 0 !important; "></div>
<div class="twinkling" style="z-index: 0 !important;"></div> -->

<div class="row">
  <div class="splashHeader">Fake Projects
    <br>
    <p class="splashHeader2">by Real Employers</p>
  </div>

  <div class="splashSubheader">See what kind of projects employers like to see, provided by employers themselves</div>

  <div class="buttonContainer">
  <a href="#/login"> <div class="splashButton">Employer Sign In</div></a>
  <a href="#/login" ng-click="githubLogin()"> <div class="splashButton">Developer Sign In</div></a>
  </div>

  <div class="iconRow">

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-users" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Partner with fellow developers on Project Hunt</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-desktop" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Work on example projects created by hiring employers</p>
    </div>

    <div class="iconContainer col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <i class="fa fa-github" aria-hidden="true" style="
      color: white;
      font-size: 6.5em;
      text-align: center;
      width: 100%;
      margin: .4em 0 0 0;"></i> 
      <p class="splashIconHeader">Share your repos with hiring employers and get hired</p>
    </div>
  </div>
</div>

     <div class="poweredByRow"><img src="images/elevLogo.png"> <div class="poweredByHeader">Powered By Elevation Academy</div>
   </div>


</div>

<script>


